* {
  color: white;
  overflow: hidden;
}

.centralContainerQuestions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../imgs/questions-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.mainContainerQuestions {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemContainer {
  padding: 10px;
  background-color: brown;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  width: 40%;
}


.containerTitle {
  background-color: rgb(255, 102, 0);
  border-radius: 20px;
  width: 70%;
  padding: 5px;
}

.containerTitle h1 {
  text-align: center;
}


.alternativasContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.itemContainer p {
  font-size: 1.5rem;
  color: white;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
  opacity: 0.5;
}

.nextQuestion {
  margin-top: 30px;
  padding: 5px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .containerTitle h1 {
    font-size: 1.7rem;
  }
}


@media (max-width: 450px) {
  .containerTitle {
    width: 100%;
  }
  
  .containerTitle h1 {
    font-size: 1.4rem;
  }
  

  .itemContainer {
    width: 65%;
  }

  .itemContainer p {
    font-size: 1rem;
  }
}

