* {
    color: white;
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContainer button {
    margin-top: 15px;
    padding: 10px;
    background-color: red;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
}

.mainContainer h1 {
    font-size: 50px;
}