* {
    color: white;
}

.centralContainerEndGame {
    width: 100%;
    height: 100vh;
    background-image: url('../../imgs/end.png');
    display: flex;
    justify-content: center;
    text-align: center;
}

.mainContainerEndGame {
    margin-top: 15vh;
}

.containerInformations p {
    font-size: 40px;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerButton button{
    padding: 7px;
    font-size: 30px;
    color: red;
    border-radius: 5px;
    cursor: pointer;
}

.author {
    font-size: 45px;
    color: black;
    margin-top: 55vh;
}



