* {
    color: white;
}

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContainer button {
    margin-top: 15px;
    padding: 10px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.mainContainer h1 {
    text-align: center;
}

.alternativasContainer {
    padding: 50px;
    background-color: blue;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.itemContainer {
    padding: 10px;
    background-color: red;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.itemContainer p {
    font-size: 30px;
}

